
html{height:100% }



@font-face {
    font-family: "OpenSansHebrewRegular";
    src: url("../fonts/OpenSansHebrew-Regular_1.ttf") ;  
  }

body{
  
    font-family: "OpenSansHebrewRegular";
    margin: 0;
    height: 100%;

}

.height100{
    height: 100%;
}

.clear{
  clear: both;
}

.margin-t-50{
  margin-top: 50px;
}


.margin-t-36{margin-top: 36px}

.float-left{float:left; }

.float-right{float: right}

.header-div{ 
   
    background-color: #2f2f2f;
    color: white;
    height: 39px;
    padding-top: 18px;
    padding-left: 30px;
  }

  .header-div a{ 
    
    float: left;
    font-size: 18px;
    cursor: pointer;
   }

.wrap-all-content{
    
   
  height: calc(100% - 57px);
}


  .side-menu-wrap{
   
   
    display: inline-block;
    width: 240px;
    height: 100%;
    background-color: #303881;
    
}

  .side-menu-wrap a{
    
    display: block;
    color: white;
    text-decoration: none;
    padding: 17px 33px;
    font-size: 16px;
    border-right: 6px solid transparent;
  }

  .side-menu-wrap a:hover{
   background-color:#6f74a7; 
    border-right: 6px solid #ffffff;
  }


  .side-menu-wrap span {
    margin-left: 12px;
  }
  
.main-content{
  
    display: inline-block;
    width: calc(100% - 245px);
    height: 100%;
    vertical-align: bottom;
}



.center-div
{
  

    width: 279px;
    padding-top: 62px;
    display: block;
    margin: auto;
}

.center-div input
{
  
width: -webkit-fill-available;
margin-bottom: 12px;


}




.header-login{
   
  background-color: #2f2f2f;
  height: 30px;
}

.header-login-b{
  
 background-color: #303881;
 height: 270px;
}



.center-div > span{
text-align: center;
display: block;
font-size: 26px;
}

input{
  border-color: black;
  height: 31px;
  border-width: 1px;
  font-size: 16px;
  padding: 0 16px;}
select{
  border-color: black;
  height: 31px;
  border-width: 1px;
  font-size: 16px;
  padding: 0 16px;}

  select:disabled{
   
    border-color: #c2c1c1;
    background-color: #ebe9e9 !important;
    cursor: not-allowed;
  }
  textarea:disabled,
   input:not([type]):disabled, input[type="color" i]:disabled,
   input[type="date" i]:disabled,
    input[type="datetime" i]:disabled,
    input[type="datetime-local" i]:disabled,
     input[type="email" i]:disabled,
     input[type="month" i]:disabled,
      input[type="password" i]:disabled,
      input[type="number" i]:disabled,
       input[type="search" i]:disabled,
        input[type="tel" i]:disabled,
         input[type="text" i]:disabled,
          input[type="time" i]:disabled,
   input[type="url" i]:disabled,
    input[type="week" i]:disabled 
  input[type="text" i]:disabled,
  input:not([type]):disabled{
    border-color: #c2c1c1;
    background-color: #ebe9e9 !important;
    cursor: not-allowed;
  }



  .login-btn{
  
  background-color: #303881;
  color: white;
  width: 100%;
  border-color: transparent;
}

.login-btn:hover {
    background-color: #242a63;
   cursor: pointer;
  
}


.sub-header{
  
  background-color: #eeeeee;
  padding: 12px 5%;
}
.sub-header i{
    
   
    color: #303881;
    margin-left: 5px;
}

.sub-header select{
    
     background-color: #303881;
     padding: 6px 14px;
     color: white;
     font-size: 16px;
     border: none;
 }
 
 .sub-header > span{
    
    
    margin-right: 19px;
    margin-left: 3px;
 }



 .btn-sub-header{
 background-color: #303881;
 border-color: #303881;
 color: white;
 margin-right: 12px;
 }

 .btn-sub-header:hover {
    background-color: #272e6c;
  cursor: pointer;
}
  

.content-after{    
 
  padding: 0 5%;
  height: calc(100% - 57px);
  overflow: auto;
}

.form-row-wrap{       margin-left: -6.5%;}


.form-row{
  
  display: inline-block;
  width: 27.7%;
  margin-bottom: 23px;
  vertical-align: text-top;
}
.form-row:not(:last-child){
  
   padding: 0 0 0 5%;
  
 }

.form-row label{
  display:inline-block;
width:50px;
width: 115px;

}
.form-row input,
.form-row select,
.form-row textarea
{
 
  width: calc(100% - 122px);
  background-color: white;
  padding: 0px;
  max-width: calc(100% - 122px);
}

.form-row input[type="checkbox"]{
  width: 20px;
  vertical-align: middle;
  margin: 0;
  margin-left: 9px;
}

.other-input{
  margin-right: 119px;
  margin-top: 23px;}


  .border-btween{
    width: 100%;
    overflow: hidden;
    height: 30px;
    letter-spacing: -1px;
    color: #3038814d;
    margin-bottom: 14px;
    margin-top: 13px;}


    .header-main{
      font-size: 17px;
      margin-top: 45px;
      margin-bottom: 28px;
      font-weight: 600;}

      .form-row .info-label{
        
    display: block;
    width: 100%;
    line-height: 31px;
      }

      .btn-under{
        padding-bottom: 13px;
      }
      .btn-under .btn-bcard{
        float:left 
      }


      .btn-bcard{
        background-color: #303881;
        color: white;
        border: 1px solid #303881;
        padding: 2px 43px;
        margin-right: 8px;
      }

      .btn-bcard:hover{
        background-color: #242a5f;
       cursor: pointer;
      }

      .open-div{
        background-color: rgba(184, 202, 221, 0.3);
        margin-top: 20px;
        padding: 6px 20px;
      cursor:pointer;}


      th {
        font-weight: normal;
       
    }





      .table-bcard tr:nth-child(odd){
       background-color:#eeeeee ;
  
        }
        .table-bcard tr:nth-child(even){
          background-color:rgba(234, 234, 233, 0.29);
     
           }

  .table-bcard tr:first-child{
        background-color: rgba(198, 197, 197, .8);

      }

      .table-bcard tr:first-child th{
      text-align: center;

      }
     
      .table-bcard  input
      {    width: calc(100% - 41px);
       }

       .table-bcard  select
       {   width: calc(100% - 8px);
        }

       
    



      .table-top-border{
        border-top: 2px solid #303881;
      }

      .icon-in-table{
       
    text-align: center !important;
    color: #303881;
    font-weight: 600;
    cursor: pointer;
      }



      .save-details {
        margin-top: 36px;
        padding-bottom: 39px;
      }


      .save-details .btn-bcard{
        float: left;
      }
.width-table{
  
  width: 47%;
  display: inline-block;
  vertical-align: top;
  padding-left: 12px;
}

.small-form{
  
  width: 52%;
  display: inline-block;
}

.header-small-form{
  background-color: rgba(198, 197, 197, 0.8);
  padding: 9px 25px;}


  .body-small-form{

    background-color: #eeeeee;
    padding: 9px 25px;
  }
      
   .close-dialog{
    float: left;
    color: black;
    text-shadow: 0px 1px 0px black;
  cursor:pointer;
  }

  .body-small-form .form-row label {
   
    width: 101px;
}

.body-small-form .form-row input, .body-small-form .form-row select {
 
  width: calc(100% - 108px);
  background-color: white;
  padding: 0px;
  max-width: calc(100% - 108px);
}


.body-small-form .form-row{  
    padding: 0 0 0 1%;   
   width: 31.7%;
  }

  .body-small-form .form-row-wrap {
    margin-left: -2%;
}




.overlay {
 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(47, 47, 47, 0.5);
  z-index: 999;
}

.dialog {
  border-radius: 19px;
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 103px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 63%;
  min-width: 520px;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}


.dialog__close-btn {
  
  border: 0;
  background: none;
  color: gray;
  position: absolute;
  top: 13px;
  left: 33px;
  font-size: 1.2em;
}

.dialog__close-btn:hover {
  
 cursor: pointer;
  color: white;
 
}

.header-dialog{
  background-color: #2f2f2f;
  color: white;
  padding: 12px 34px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px; }

  .dialog-body{padding: 33px 36px;}


  .center-btn{
    margin: auto;
    display: block;}